.calendar {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.calendar td {
    padding: 0.4rem;
}

.event-day button {
    border: 1px solid orange;
    width: 100%;
    height: 100%;
}

.event-day ul {
    display: none;
}

.event-day button:active {
    border: 1px solid red;
}
