<!DOCTYPE html>
<html lang="en">
{% include "base/head.html" %}

<body>
    {% include "base/navbar.html" %}}
    
    <!-- Section: Design Block -->
    <section class="text-center text-lg-start">
        <style>
            .cascading-right {
                margin-right: -50px;
            }

            @media (max-width: 991.98px) {
                .cascading-right {
                    margin-right: 0;
                }
            }
        </style>

        <!-- Jumbotron -->
        <div class="container py-4">
            <div class="row g-0 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card cascading-right" style="background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px);">
                        <div class="card-body p-5 shadow-5 text-center">
                            <h2 class="fw-bold mb-5">Registrate aquí</h2>
                            <form method="post">{% csrf_token %}
                            
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" id="form3Example1" class="form-control" name="first_name">
                                            <label class="form-label" for="form3Example1">Nombre</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" id="form3Example2" class="form-control" name="last_name">
                                            <label class="form-label" for="form3Example2">Apellido</label>
                                        </div>
                                    </div>
                                </div>

                                <!--Nombre de usuario input-->
                                <div class="form-outline mb-4">
                                    <input type="text" id="form3Example3" class="form-control" name="username">
                                    <label class="form-label" for="form3Example3">Nombre de usuario</label>
                                </div>

                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                    <input type="email" id="form3Example4" class="form-control" name="email">
                                    <label class="form-label" for="form3Example4">Correo electronico</label>
                                </div>

                                <!-- 2 Columnas uno de numero de telefono y otro de cumpleaños -->
                                <div class="row">
                                    <div class="col-md-8 mb-4">
                                        <input type="tel" id="form3Example5" class="form-control" name="telefono">
                                        <label class="form-label" for="form3Example5">Numero de telefono</label>
                                    </div>

                                    <div class="col-md-4 mb-4">
                                        <div class="form-outline">
                                            <input type="date" id="form3Example6" class="form-control" name="nacimiento">
                                            <label class="form-label" for="form3Example6">Fecha de nacimiento</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" id="form3Example7" class="form-control" name="provincia">
                                            <label class="form-label" for="form3Example7">Provincia</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" id="form3Example8" class="form-control" name="localidad">
                                            <label class="form-label" for="form3Example8">Localidad</label>
                                        </div>
                                    </div>
                                </div>

                                <!-- Password input -->
                                <div class="form-outline mb-4">
                                    <input type="password" id="form3Example9" class="form-control" name="password1">
                                    <label class="form-label" for="form3Example9">Contraseña</label>
                                </div>

                                <!-- Confirmación de contraseña -->
                                <div class="form-outline mb-4">
                                    <input type="password" id="form3Example10" class="form-control" name="password2">
                                    <label class="form-label" for="form3Example10">Confirme su contraseña</label>
                                </div>
                                {% include 'includes/error_forms.html' %}
                                <!-- Submit button -->
                                <button type="submit" class="btn btn-primary btn-block mb-4">
                                    Suscribirse
                                </button>

                                <!-- Register buttons -->
                                <div class="text-center">
                                    <p>o registrate con:</p>
                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                        <i class="bi bi-facebook"></i>
                                    </button>

                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                        <i class="bi bi-google"></i>
                                    </button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0">
                    {% load static %}
                    <img src="{% static 'img_login.jpg' %}"
                        class="w-100 rounded-4 shadow-4" alt="" />
                </div>
            </div>
        </div>
        <!-- Jumbotron -->
    </section>
    <!-- Section: Design Block -->
</body>

</html>