<footer class="text-center text-white" style="background-color: #f1f1f1;">
    <!-- Grid container -->
    <div class="container pt-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="bi bi-facebook"></i></a>

            <!-- Instagram -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="bi bi-instagram"></i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->


    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        FUNDACION PUEBLO
        <a class="text-dark" href="https://www.google.com.ar/maps/place/Av.+Espa%C3%B1a+395,+H3503+Barranqueras,+Chaco/@-27.4860315,-58.9562206,17z/data=!3m1!4b1!4m5!3m4!1s0x944572cde861393d:0xcdda960dff8f3f4c!8m2!3d-27.4860363!4d-58.9540319">Av.España 395. Barranqueras . Chaco.</a>
    </div>
    <!-- Copyright -->
</footer>